Repository NAKKA-K/musclers, pull requests merged in 2019-11, with the labels that each got.

#134 [add]redirect index path
  frontend/layouts/TheHeader.vue
Labels: FrontEnd, bug

#137 User tag model
  backend/app/models/tag.rb
  backend/app/models/user.rb
  backend/app/models/user_tag.rb
  backend/db/migrate/20191031022024_create_user_tags.rb
  backend/db/schema.rb
  backend/spec/factories/user_tags.rb
  backend/spec/models/user_tag_spec.rb
Labels: BackEnd

#160 [add]DM link & Group List link
  frontend/layouts/TheHeader.vue
Labels: FrontEnd

#162 Change users api
  backend/app/controllers/api/users_controller.rb
  backend/app/controllers/hoge_controller.rb
  backend/config/routes.rb
  docs/api_blueprint.md
  frontend/pages/users/index.vue
Labels: Refactor

#168 Update login logic
  frontend/pages/redirect.vue
  frontend/pages/register.vue
Labels: Refactor

#170 [Fix] run command on api => docker-compose.yml
  docker-compose.yml
Labels: Refactor, bug

#133 [Change] user detail layout on PC
  frontend/assets/images/next.png
  frontend/assets/images/prev.png
  frontend/components/UserDetailCardItem.vue
  frontend/nuxt.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/users/_id.vue
  frontend/plugins/swiper.js
Labels: FrontEnd, Screen design

#166 Tag index api
  backend/app/controllers/api/tags_controller.rb
  backend/spec/controllers/api/tags_controller_spec.rb
Labels: BackEnd

#176 Fix docker command bug
  docker-compose.yml
Labels: Infrastructure, bug

#161 [ADD] recommend user api
  backend/app/controllers/api/users_controller.rb
  backend/app/models/user.rb
  backend/config/environments/test.rb
  backend/config/routes.rb
  backend/db/seeds.rb
  backend/spec/factories/users.rb
  backend/spec/rails_helper.rb
  backend/spec/requests/recommend_user_api_spec.rb
  docs/blueprints/api_blueprint.md
Labels: BackEnd

#194 Fix null constraint for postgre
  backend/db/migrate/20191122011451_change_users_nickname_not_null.rb
  backend/db/schema.rb
Labels: bug

#184 [ADD]Dm table test
  backend/spec/models/direct_message_group_spec.rb
  backend/spec/models/user_spec.rb
Labels: BackEnd

#191 [追加]updateメソッドにnickname更新処理を追加
  backend/app/controllers/api/users_controller.rb
  backend/app/models/user.rb
Labels: BackEnd

#195 Update connect to close hook
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Infrastructure

#203 Blogs table design
  docs/ER.md
  docs/ER/ER.png
Labels: BackEnd

#198 [ADD]Dm group list api
  backend/app/controllers/api/direct_message_groups_controller.rb
  backend/app/helpers/date_helper.rb
  backend/app/models/direct_message.rb
  backend/app/models/user.rb
  backend/app/serializers/latest_message_serializer.rb
  backend/config/routes.rb
  backend/spec/requests/direct_message_list_api_spec.rb
  frontend/pages/direct_messages/index.vue
Labels: BackEnd

#216 [add]empty spec file
  backend/spec/requests/detail_user_api_spec.rb
  backend/spec/requests/search_user_api_spec.rb
  backend/spec/requests/tag_list_api_spec.rb
  backend/spec/requests/user_data_edit_api_spec.rb
  backend/spec/requests/user_data_update_api_spec.rb
  backend/spec/requests/user_tag_api_spec.rb
Labels: BackEnd

#211 [delete]dm list api mock
  backend/app/controllers/mock/direct_message_groups_controller.rb
  backend/config/routes.rb
Labels: BackEnd

#214 [add]dm list api test
  backend/spec/requests/direct_message_list_api_spec.rb
Labels: BackEnd

#213 Blogs table create
  backend/app/models/blog.rb
  backend/app/models/blog_tag.rb
  backend/app/models/tag.rb
  backend/app/models/user.rb
  backend/db/migrate/20191127054633_create_blogs.rb
  backend/db/migrate/20191127120955_create_blog_tags.rb
  backend/db/schema.rb
  backend/spec/factories/blog_tags.rb
  backend/spec/factories/blogs.rb
  backend/spec/models/blog_spec.rb
  backend/spec/models/blog_tag_spec.rb
Labels: BackEnd

#218 Add tag list api test
  backend/spec/factories/tags.rb
  backend/spec/requests/tag_list_api_spec.rb
Labels: BackEnd

#221 [add]change column nickname & set default value
  backend/db/migrate/20191122011451_change_users_nickname_not_null.rb
Labels: BackEnd

#222 [add]test data
  backend/db/schema.rb
  backend/db/seeds.rb
Labels: BackEnd

#225 [add]user tags api test
  backend/spec/requests/user_tag_api_spec.rb
Labels: BackEnd
