Repository NAKKA-K/musclers, pull requests merged in 2019-12, with the labels that each got.

#232 [add]search user api test
  backend/spec/requests/search_user_api_spec.rb
Labels: BackEnd

#212 [Add]Home logic
  frontend/pages/TheInformation.vue
  frontend/pages/TheJoingroup.vue
  frontend/pages/TheNotification.vue
  frontend/pages/TheRecommenduser.vue
  frontend/pages/home.vue
Labels: FrontEnd

#223 Blog index api
  backend/app/controllers/api/blogs_controller.rb
  backend/config/routes.rb
  backend/spec/controllers/api/blogs_controller_spec.rb
  backend/spec/factories/blogs.rb
  backend/spec/requests/blog_api_spec.rb
  backend/spec/requests/search_user_api_spec.rb
Labels: BackEnd

#234 Create group and friend table
  backend/app/models/friend.rb
  backend/app/models/group.rb
  backend/app/models/group_message.rb
  backend/app/models/group_user.rb
  backend/app/models/user.rb
  backend/db/migrate/20191202025218_create_friends.rb
  backend/db/migrate/20191202040626_create_groups.rb
  backend/db/migrate/20191202041204_create_group_users.rb
  backend/db/migrate/20191202041828_create_group_messages.rb
  backend/db/schema.rb
  backend/spec/factories/friends.rb
  backend/spec/factories/group_messages.rb
  backend/spec/factories/group_users.rb
  backend/spec/factories/groups.rb
  backend/spec/models/friend_spec.rb
  backend/spec/models/group_message_spec.rb
  backend/spec/models/group_spec.rb
  backend/spec/models/group_user_spec.rb
  backend/spec/models/user_spec.rb
Labels: BackEnd

#240 [add]user detail api test
  backend/spec/requests/detail_user_api_spec.rb
Labels: BackEnd

#242 Add group search logic
  frontend/pages/groups/index.vue
  frontend/pages/home.vue
  frontend/store/groups.js
Labels: FrontEnd

#247 Add user update api test
  backend/app/controllers/api/users_controller.rb
  backend/spec/requests/user_data_update_api_spec.rb
  docs/blueprints/api_blueprint.md
Labels: BackEnd

#253 Add user edit api test
  backend/app/controllers/api/users_controller.rb
  backend/spec/requests/user_data_edit_api_spec.rb
  docs/blueprints/api_blueprint.md
Labels: BackEnd

#257 Convert tag name to japanese
  backend/app/controllers/api/tags_controller.rb
  backend/app/models/tag.rb
  backend/app/serializers/tag_serializer.rb
  backend/config/locales/ja.yml
  backend/db/migrate/20191204022847_change_datatyp_name_to_tags.rb
  backend/db/schema.rb
  backend/db/seeds.rb
Labels: BackEnd

#254 Add home page
  frontend/pages/home.vue
Labels: FrontEnd

#261 Fix migration file
  backend/app/models/tag.rb
  backend/db/migrate/20191204022847_change_datatyp_name_to_tags.rb
Labels: BackEnd

#262 Fix tags seed
  backend/db/seeds.rb
  backend/db/seeds/tags.rb
Labels: BackEnd

#263 [change]separate seed file
  backend/db/seeds.rb
  backend/db/seeds/direct_message_groups.rb
  backend/db/seeds/direct_messages.rb
  backend/db/seeds/users.rb
Labels: BackEnd

#264 Add friend request from front
  frontend/pages/users/_id.vue
  frontend/pages/users/index.vue
Labels: FrontEnd

#265 [add]frined test data
  backend/db/migrate/20191205042345_change_is_pending_default_to_friends.rb
  backend/db/seeds.rb
  backend/db/seeds/friends.rb
Labels: BackEnd

#266 Add direct message test data
  backend/db/schema.rb
  backend/db/seeds/direct_message_groups.rb
  backend/db/seeds/direct_messages.rb
Labels: BackEnd

#267 [add]user tags test data
  backend/db/seeds.rb
  backend/db/seeds/user_tags.rb
Labels: BackEnd

#268 Add information test data
  backend/app/models/information.rb
  backend/config/locales/ja.yml
  backend/db/migrate/20191205081949_rename_type_column_to_information.rb
  backend/db/schema.rb
  backend/db/seeds.rb
  backend/db/seeds/information.rb
Labels: BackEnd

#271 Add group show
  backend/app/controllers/api/groups_controller.rb
  backend/app/controllers/mock/information_controller.rb
  backend/app/serializers/group_serializer.rb
  backend/config/routes.rb
  backend/spec/requests/group_spec.rb
  backend/spec/routing/groups_routing_spec.rb
  frontend/pages/groups/_id/index.vue
  frontend/pages/groups/index.vue
  frontend/pages/home.vue
Labels: BackEnd, FrontEnd

#269 Add blog seed
  backend/db/seeds.rb
  backend/db/seeds/blog_tags.rb
  backend/db/seeds/blogs.rb
Labels: BackEnd

#241 Blog show api
  backend/app/controllers/api/blogs_controller.rb
  backend/spec/requests/blog_api_spec.rb
  docs/blueprints/api_blueprint.md
Labels: BackEnd

#276 Add unique index to group users
  backend/db/migrate/20191209054959_add_index_to_group_users.rb
  backend/db/schema.rb
  backend/spec/models/group_user_spec.rb
Labels: BackEnd

#275 Add debug button
  backend/app/controllers/api/debug_controller.rb
  backend/app/serializers/loggedin_user_serializer.rb
  backend/config/routes.rb
  backend/db/seeds/users.rb
  backend/spec/requests/debug_api_spec.rb
  backend/spec/routing/debug_login_routing_spec.rb
  frontend/components/organisms/LoggedinIcons.vue
  frontend/pages/TheRecommenduser.vue
  frontend/pages/auth/login.vue
  frontend/pages/auth/mypage.vue
Labels: BackEnd, FrontEnd

#277 Add group join component & friend request btn component
  backend/app/controllers/api/groups_controller.rb
  frontend/components/organisms/FriendRequestBtn.vue
  frontend/components/organisms/GroupJoinBtn.vue
  frontend/pages/groups/_id/index.vue
  frontend/pages/users/_id.vue
Labels: BackEnd, FrontEnd

#278 Add chat function
  backend/app/channels/application_cable/connection.rb
  backend/app/channels/direct_message_channel.rb
  backend/app/jobs/direct_messages_job.rb
  backend/app/models/direct_message.rb
  backend/app/serializers/send_message_serializer.rb
  backend/config/initializers/action_cable.rb
  backend/spec/jobs/direct_messages_job_spec.rb
  frontend/nuxt.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/TheInformation.vue
  frontend/pages/TheJoingroup.vue
  frontend/pages/TheRecommenduser.vue
  frontend/pages/direct_messages/_id.vue
  frontend/pages/direct_messages/index.vue
  frontend/plugins/actioncable.js
Labels: BackEnd, FrontEnd

#279 Add friend api
  backend/app/controllers/api/friends_controller.rb
  backend/app/models/friend.rb
  backend/config/routes.rb
  backend/spec/requests/friend_api_spec.rb
  backend/spec/routing/friends_routing_spec.rb
  docs/blueprints/api_blueprint.md
  frontend/components/organisms/FriendRequestBtn.vue
  frontend/pages/users/_id.vue
  frontend/pages/users/index.vue
Labels: BackEnd

#281 Add dm api
  backend/app/controllers/api/direct_message_groups_controller.rb
  backend/app/serializers/direct_message_group_serializer.rb
  backend/app/serializers/direct_message_serializer.rb
  backend/config/routes.rb
  backend/db/seeds/friends.rb
  backend/spec/requests/direct_message_spec.rb
  frontend/pages/direct_messages/_id.vue
  frontend/pages/direct_messages/index.vue
  frontend/pages/groups/_id/index.vue
Labels: BackEnd

#282 [fix]debug login error
  frontend/components/organisms/LoggedinIcons.vue
  frontend/pages/auth/login.vue
  frontend/store/auth.js
Labels: FrontEnd

#285 Add user seeder
  backend/db/seeds/users.rb
  frontend/pages/users/index.vue
Labels: BackEnd

#288 Fix dm seeder
  backend/db/seeds/direct_messages.rb
Labels: BackEnd

#289 Add group members
  backend/app/controllers/api/group_members_controller.rb
  backend/app/serializers/group_member_serializer.rb
  backend/config/routes.rb
  backend/db/seeds.rb
  backend/db/seeds/group_members.rb
  backend/spec/requests/group_members_api_spec.rb
  backend/spec/routing/group_members_routing_spec.rb
  frontend/pages/groups/_id/index.vue
Labels: BackEnd, FrontEnd

#290 [Add]Header Bellmark logic
  frontend/components/organisms/LoggedinIcons.vue
Labels: FrontEnd

#291 [Fix]type -> genre
  frontend/components/organisms/LoggedinIcons.vue
Labels: FrontEnd

#292 [change]genre english => japanese
  backend/app/controllers/api/information_controller.rb
  backend/app/serializers/information_serializer.rb
Labels: BackEnd

#293 [add]thumbnail url
  backend/app/models/friend.rb
  backend/app/serializers/information_serializer.rb
  backend/db/migrate/20191212072542_add_thumbnail_column_to_information.rb
  backend/db/schema.rb
  backend/db/seeds/information.rb
Labels: BackEnd

#295 Revert i18n serializer
  backend/app/serializers/loggedin_user_serializer.rb
Labels: BackEnd

#311 [Add] under pagenation
  frontend/pages/users/index.vue
Labels: FrontEnd

#315 [Add] prev button on user details search page
  frontend/pages/search/index.vue
Labels: FrontEnd

#313 [Add] setting save button page under
  frontend/pages/auth/setting.vue
Labels: FrontEnd

#316 [Change] more view link design
  frontend/pages/home.vue
Labels: FrontEnd

#318 [Change] button layout (edit) <=> (save)
  frontend/pages/auth/setting.vue
Labels: FrontEnd

#319 Fix seeders
  backend/app/models/blog.rb
  backend/app/models/user.rb
  backend/db/seeds/blogs.rb
  backend/db/seeds/friends.rb
  backend/db/seeds/user_tags.rb
Labels: BackEnd

#309 [Fix]Link color
  frontend/pages/TheInformation.vue
  frontend/pages/TheJoingroup.vue
  frontend/pages/TheRecommenduser.vue
  frontend/pages/auth/mypage.vue
Labels: FrontEnd

#323 Add global styles
  frontend/assets/css/index.css
  frontend/assets/scss/_responsive.scss
  frontend/assets/scss/app.scss
  frontend/assets/scss/lp.scss
  frontend/assets/scss/variables.scss
  frontend/layouts/TheHeader.vue
  frontend/layouts/login.vue
  frontend/nuxt.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/index.vue
  frontend/pages/search/index.vue
  frontend/pages/user_blogs/index.vue
Labels: FrontEnd

#322 Add group message
  backend/app/channels/group_message_channel.rb
  backend/app/helpers/thumbnail_helper.rb
  backend/app/jobs/application_job.rb
  backend/app/jobs/group_messages_job.rb
  backend/app/models/group_message.rb
  backend/app/serializers/blog_serializer.rb
  backend/app/serializers/group_member_serializer.rb
  backend/app/serializers/group_serializer.rb
  backend/app/serializers/loggedin_user_serializer.rb
  backend/app/serializers/send_group_message_serializer.rb
  backend/app/serializers/user_serializer.rb
  frontend/pages/direct_messages/_id.vue
  frontend/pages/groups/_id/index.vue
Labels: BackEnd

#325 Update users card
  frontend/components/Paginator.vue
  frontend/pages/users/index.vue
Labels: FrontEnd

#321 [Add]Information icon
  backend/config/locales/ja.yml
  frontend/components/organisms/LoggedinIcons.vue
Labels: FrontEnd

#317 Header pulldown design
  frontend/components/organisms/DropdownHomeLinks.vue
  frontend/layouts/TheHeader.vue
Labels: FrontEnd

#327 Update UI
  backend/app/controllers/api/group_members_controller.rb
  frontend/assets/scss/_helper.scss
  frontend/assets/scss/app.scss
  frontend/assets/scss/variables.scss
  frontend/components/atoms/PrimaryBtn.vue
  frontend/components/atoms/PrimaryOutlineBtn.vue
  frontend/components/organisms/FriendRequestBtn.vue
  frontend/components/organisms/GroupJoinBtn.vue
  frontend/pages/TheInformation.vue
  frontend/pages/TheJoingroup.vue
  frontend/pages/TheRecommenduser.vue
  frontend/pages/auth/mypage.vue
  frontend/pages/groups/_id/index.vue
  frontend/pages/groups/index.vue
  frontend/pages/users/_id.vue
  frontend/pages/users/index.vue
Labels: FrontEnd

#189 [Add] sp site template
  frontend/assets/scss/pc_details.scss
  frontend/assets/scss/sp_details.scss
  frontend/layouts/user_details/PcView.vue
  frontend/layouts/user_details/SpView.vue
  frontend/pages/users/_id.vue
  frontend/plugins/swiper.js
Labels: FrontEnd, Screen design

#329 Fix thumbnail url
  backend/app/models/friend.rb
Labels: BackEnd

#332 Move authenticatable module
  backend/app/controllers/api/auth/oauth_controller.rb
  backend/app/controllers/api/blogs_controller.rb
  backend/app/controllers/api/debug_controller.rb
  backend/app/controllers/api/group_members_controller.rb
  backend/app/controllers/api/groups_controller.rb
  backend/app/controllers/api/tags_controller.rb
  backend/app/controllers/api/users_controller.rb
  backend/app/controllers/application_controller.rb
  backend/app/controllers/concerns/authenticatable.rb
  backend/app/controllers/mock/blogs_controller.rb
  backend/app/controllers/mock/group_messages_controller.rb
  backend/app/controllers/mock/groups_controller.rb
  backend/config/application.rb
  backend/lib/exceptions.rb
Labels: BackEnd

#331 Add application concern
  Makefile
  backend/app/controllers/api/auth/oauth_controller.rb
  backend/app/controllers/api/blogs_controller.rb
  backend/app/controllers/api/debug_controller.rb
  backend/app/controllers/api/group_members_controller.rb
  backend/app/controllers/api/groups_controller.rb
  backend/app/controllers/api/tags_controller.rb
  backend/app/controllers/api/users_controller.rb
  backend/app/controllers/application_controller.rb
  backend/app/controllers/concerns/authenticatable.rb
  backend/app/controllers/mock/blogs_controller.rb
  backend/app/controllers/mock/group_messages_controller.rb
  backend/app/controllers/mock/groups_controller.rb
  backend/app/models/concerns/confirmable.rb
  backend/app/models/user.rb
  backend/config/application.rb
  backend/lib/exceptions.rb
  backend/spec/models/user_spec.rb
  backend/spec/requests/group_members_api_spec.rb
Labels: BackEnd

#330 Update button ui
  frontend/components/organisms/LoggedinIcons.vue
  frontend/pages/auth/setting.vue
  frontend/pages/home.vue
Labels: FrontEnd

#328 Fix style for user blogs page
  frontend/pages/user_blogs/index.vue
Labels: FrontEnd

#335 Update button to orange color
  frontend/components/atoms/PrimaryBtn.vue
  frontend/components/atoms/PrimaryOutlineBtn.vue
  frontend/pages/groups/new.vue
Labels: FrontEnd

#333 Add error handling
  backend/app/controllers/api/groups_controller.rb
  backend/app/controllers/application_controller.rb
  backend/app/controllers/concerns/error_response_handleable.rb
  backend/config/locales/ja.yml
Labels: BackEnd

#338 Change mock to production
  frontend/pages/home.vue
Labels: BackEnd
