Repository NAKKA-K/musclers, pull requests merged in 2019-10, with the labels that each got.

#63 Add user seeder
  backend/Gemfile
  backend/Gemfile.lock
  backend/db/seeds.rb
  frontend/pages/users/index.vue
Labels: BackEnd, FrontEnd

#61 Update header view & dropdown link
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/controllers/api/users_controller.rb
  backend/db/seeds.rb
  frontend/components/GroupSelector.vue
  frontend/layouts/TheHeader.vue
  frontend/nuxt.config.js
  frontend/pages/index.vue
  frontend/pages/users/index.vue
Labels: FrontEnd

#55 [Add] change ja
  backend/app/controllers/api/users_controller.rb
  backend/app/serializers/user_serialiser.rb
Labels: BackEnd

#64 Add user page design
  frontend/pages/users/index.vue
Labels: FrontEnd

#68 Add user detail data
  backend/app/controllers/api/users_controller.rb
  backend/app/models/user.rb
  backend/app/serializers/user_serializer.rb
  frontend/components/UserDetailCardItem.vue
  frontend/pages/users/_id.vue
  frontend/pages/users/index.vue
Labels: BackEnd, FrontEnd

#74 [Create]Home
  frontend/layouts/TheFooter.vue
  frontend/pages/home.vue
Labels: FrontEnd

#72 Add reinit command
  Makefile
  README.md
Labels: Infrastructure

#77 Refactor lint
  frontend/pages/index.vue
Labels: FrontEnd

#76 ユーザー検索一覧にページネーションを実装
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/controllers/api/users_controller.rb
  backend/app/controllers/application_controller.rb
  backend/app/models/user.rb
  frontend/components/Paginator.vue
  frontend/pages/users/index.vue
Labels: BackEnd, FrontEnd

#83 Fix bookbok
  frontend/pages/index.vue
Labels: FrontEnd, bug

#85 Add next user link to user detail page
  frontend/pages/users/_id.vue
Labels: FrontEnd

#90 Fix connection refused !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  frontend/nuxt.config.js
Labels: FrontEnd

#91 [fix]header user image bug
  backend/app/serializers/loggedin_user_serializer.rb
Labels: BackEnd

#94 Fix force redirect bug
  frontend/layouts/TheHeader.vue
  frontend/nuxt.config.js
  frontend/pages/home.vue
Labels: FrontEnd

#89 RE: ユーザの詳細を検索する画面
  frontend/pages/search/index.vue
  frontend/pages/search/search_details.vue
Labels: FrontEnd, Screen design

#101 サイトの名前を変更
  frontend/package.json
Labels: FrontEnd

#100 ユーザ詳細画面のレイアウト再考
  frontend/pages/users/_id.vue
Labels: FrontEnd, Screen design

#96 検索やページネーション全てに対応したクエリパラメータ操作処理を実装
  backend/app/controllers/api/users_controller.rb
  frontend/layouts/TheHeader.vue
  frontend/nuxt.config.js
  frontend/pages/users/index.vue
  frontend/plugins/queryParamsUpdater.js
  frontend/store/users.js
Labels: FrontEnd

#102 Add search api
  backend/app/controllers/api/users_controller.rb
  backend/app/models/user.rb
  docs/api_blueprint.md
Labels: BackEnd

#105 検索用ロジックを追加
  frontend/pages/search/index.vue
Labels: FrontEnd

#119 [add]user validate
  backend/app/models/user.rb
Labels: BackEnd

#122 Header bug
  backend/.gitignore
  backend/app/serializers/loggedin_user_serializer.rb
  backend/app/serializers/user_serializer.rb
  backend/config/routes.rb
  backend/public/images/.keep
Labels: BackEnd

#121 [Add]Tabs
  frontend/pages/TheJoingroup.vue
  frontend/pages/TheNotification.vue
  frontend/pages/TheRecommenduser.vue
  frontend/pages/home.vue
Labels: FrontEnd

#125 [ADD] Edit user profile api
  backend/app/controllers/api/users_controller.rb
  backend/config/locales/ja.yml
  backend/config/routes.rb
  docs/api_blueprint.md
Labels: BackEnd
