Repository NAKKA-K/musclers, pull requests merged in 2019-07, with the labels that each got.

#1 Initial commit
  .gitignore
  backend/.gitignore
  backend/.ruby-version
  backend/Gemfile
  backend/Gemfile.lock
  backend/README.md
  backend/Rakefile
  backend/app/channels/application_cable/channel.rb
  backend/app/channels/application_cable/connection.rb
  backend/app/controllers/application_controller.rb
  backend/app/controllers/concerns/.keep
  backend/app/jobs/application_job.rb
  backend/app/mailers/application_mailer.rb
  backend/app/models/application_record.rb
  backend/app/models/concerns/.keep
  backend/app/views/layouts/mailer.html.erb
  backend/app/views/layouts/mailer.text.erb
  backend/bin/bundle
  backend/bin/rails
  backend/bin/rake
  backend/bin/setup
  backend/bin/spring
  backend/bin/update
  backend/config.ru
  backend/config/application.rb
  backend/config/boot.rb
  backend/config/cable.yml
  backend/config/credentials.yml.enc
  backend/config/database.yml
  backend/config/environment.rb
  backend/config/environments/development.rb
  backend/config/environments/production.rb
  backend/config/environments/test.rb
  backend/config/initializers/application_controller_renderer.rb
  backend/config/initializers/backtrace_silencers.rb
  backend/config/initializers/cors.rb
  backend/config/initializers/filter_parameter_logging.rb
  backend/config/initializers/inflections.rb
  backend/config/initializers/mime_types.rb
  backend/config/initializers/wrap_parameters.rb
  backend/config/locales/en.yml
  backend/config/puma.rb
  backend/config/routes.rb
  backend/config/spring.rb
  backend/config/storage.yml
  backend/db/seeds.rb
  backend/lib/tasks/.keep
  backend/log/.keep
  backend/public/robots.txt
  backend/storage/.keep
  backend/test/controllers/.keep
  backend/test/fixtures/.keep
  backend/test/fixtures/files/.keep
  backend/test/integration/.keep
  backend/test/mailers/.keep
  backend/test/models/.keep
  backend/test/test_helper.rb
  backend/tmp/.keep
  backend/vendor/.keep
Labels: BackEnd

#2 [Add] create nuxt project
  frontend/.gitignore
  frontend/README.md
  frontend/assets/README.md
  frontend/assets/style/app.styl
  frontend/assets/style/variables.styl
  frontend/components/Logo.vue
  frontend/components/README.md
  frontend/components/VuetifyLogo.vue
  frontend/layouts/README.md
  frontend/layouts/default.vue
  frontend/layouts/error.vue
  frontend/middleware/README.md
  frontend/nuxt.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/README.md
  frontend/pages/index.vue
  frontend/pages/inspire.vue
  frontend/plugins/README.md
  frontend/static/README.md
  frontend/static/favicon.ico
  frontend/static/v.png
  frontend/store/README.md
Labels: FrontEnd

#7 Add data modeling doc
  docs/ER.md
Labels: documentation

#16 [fix]apt-get -> apt
  backend/Dockerfile
Labels: Infrastructure
