Repository NAKKA-K/musclers, pull requests merged in 2019-09, with the labels that each got.

#15 Add API documentation
  .gitignore
  Makefile
  README.md
  docs/Dockerfile
  docs/ER.md
  docs/api_blueprint.md
  docs/index.md
  document-compose.yml
Labels: BackEnd, documentation

#27 [add]User detail api
  backend/app/controllers/api/users_controller.rb
  backend/app/models/user.rb
  docs/api_blueprint.md
Labels: BackEnd

#31 Install rspec & Deleted test dir
  Makefile
  backend/Gemfile
  backend/Gemfile.lock
  backend/config/application.rb
  backend/spec/factories/users.rb
  backend/spec/models/user_spec.rb
  backend/spec/rails_helper.rb
  backend/spec/spec_helper.rb
  backend/test/controllers/.keep
  backend/test/controllers/hoge_controller_test.rb
  backend/test/controllers/users_controller_test.rb
  backend/test/fixtures/.keep
  backend/test/fixtures/files/.keep
  backend/test/fixtures/users.yml
  backend/test/integration/.keep
  backend/test/mailers/.keep
  backend/test/models/.keep
  backend/test/models/user_test.rb
  backend/test/test_helper.rb
  frontend/package-lock.json
Labels: BackEnd

#32 User search api
  backend/app/controllers/api/users_controller.rb
  backend/app/models/user.rb
  backend/config/routes.rb
  docs/api_blueprint.md
Labels: BackEnd

#36 Add facebook oauth
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/controllers/api/omni_auth_controller.rb
  backend/app/controllers/application_controller.rb
  backend/app/models/user.rb
  backend/config/application.rb
  backend/config/initializers/devise.rb
  backend/config/locales/devise.en.yml
  backend/config/routes.rb
  backend/db/migrate/20190904053424_devise_update_users.rb
  backend/db/migrate/20190904064359_add_omniauth_to_users.rb
  backend/db/migrate/20190905025800_remove_email_index.rb
  backend/db/schema.rb
Labels: BackEnd

#35 create header&footer
  frontend/layouts/TheFooter.vue
  frontend/layouts/TheHeader.vue
  frontend/layouts/default.vue
Labels: FrontEnd

#41 [Fix]Header color,Badge,SearchBar Size
  frontend/layouts/TheHeader.vue
Labels: FrontEnd

#43 [BugFix]Pull down
  frontend/layouts/TheHeader.vue
Labels: FrontEnd

#40 Add oauth for a rails api
  Makefile
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/controllers/api/auth/oauth_controller.rb
  backend/app/controllers/api/omni_auth_controller.rb
  backend/app/controllers/application_controller.rb
  backend/app/models/user.rb
  backend/app/serializers/loggedin_user_serializer.rb
  backend/config/application.rb
  backend/config/initializers/devise.rb
  backend/config/routes.rb
  backend/db/migrate/20190906010233_add_access_token_to_user.rb
  backend/db/migrate/20190906063856_change_omni_auth_info.rb
  backend/db/migrate/20190910143617_remove_tokens_column_from_users.rb
  backend/db/schema.rb
  docs/api_blueprint.md
  frontend/.eslintrc.js
  frontend/nuxt.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/auth/login.vue
  frontend/pages/callback.vue
  frontend/pages/index.vue
  frontend/pages/privacy_policy.vue
  frontend/pages/search/search_details.vue
  frontend/store/index.js
  frontend/yarn.lock
Labels: BackEnd

#48 Fix method name
  frontend/pages/callback.vue
  frontend/plugins/axios.js
Labels: FrontEnd

#51 Add account info to header
  backend/Gemfile.lock
  frontend/components/GroupSelector.vue
  frontend/layouts/TheHeader.vue
  frontend/layouts/default.vue
Labels: FrontEnd

#38 Create login view
  frontend/layouts/login.vue
  frontend/nuxt.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/auth/login.vue
  frontend/plugins/persistedstate.js
  frontend/store/index.js
Labels: FrontEnd

#50 Create Register
  frontend/pages/register.vue
  frontend/pages/sign_up.vue
Labels: FrontEnd

#52 [Add]The Header icons
  frontend/layouts/TheHeader.vue
Labels: FrontEnd

#53 Fix login process
  backend/app/controllers/api/users_controller.rb
  backend/app/controllers/application_controller.rb
  frontend/layouts/TheHeader.vue
  frontend/layouts/default.vue
  frontend/nuxt.config.js
  frontend/pages/callback.vue
  frontend/pages/users/index.vue
  frontend/store/auth.js
  frontend/store/index.js
Labels: BackEnd, FrontEnd

#59 [Change] pwa comment out
  frontend/nuxt.config.js
Labels: FrontEnd

#56 Add register handling
  frontend/pages/callback.vue
Labels: FrontEnd
