Repository NAKKA-K/musclers, pull requests merged in 2020-01, with the labels that each got.

#343 # 概要 グループに参加しているか否か分かるようにflagを追加し、フロントも対応
  backend/app/controllers/api/groups_controller.rb
  backend/app/models/group.rb
  backend/app/serializers/group_serializer.rb
  frontend/components/organisms/GroupJoinBtn.vue
Labels: BackEnd, FrontEnd

#341 Add group message seed
  backend/app/controllers/api/group_messages_controller.rb
  backend/app/serializers/group_message_serializer.rb
  backend/config/routes.rb
  backend/db/seeds.rb
  backend/db/seeds/group_messages.rb
  backend/db/seeds/users.rb
  backend/spec/requests/group_message_api_spec.rb
  docs/blueprints/api_blueprint.md
  frontend/pages/groups/_id/index.vue
Labels: BackEnd

#344 ユーザー詳細の申請ボタンを動的に変更
  backend/app/controllers/api/users_controller.rb
  backend/app/models/user.rb
  backend/app/serializers/user_serializer.rb
  frontend/components/organisms/FriendRequestBtn.vue
Labels: BackEnd, FrontEnd

#349 ヘッダー通知ウィンドウのデザイン修正
  frontend/components/organisms/LoggedinIcons.vue
Labels: FrontEnd

#352 [change]link color
  frontend/components/organisms/FriendRequestBtn.vue
  frontend/components/organisms/GroupJoinBtn.vue
  frontend/components/organisms/InDevelopmentCard.vue
  frontend/layouts/TheFooter.vue
Labels: FrontEnd

#354 [fix]LP design
  frontend/assets/scss/lp.scss
  frontend/pages/index.vue
Labels: FrontEnd

#348 Add is friend flag to users page
  backend/app/controllers/api/users_controller.rb
  backend/app/models/user.rb
  frontend/components/organisms/FriendRequestBtn.vue
  frontend/layouts/user_details/SpView.vue
  frontend/pages/users/index.vue
Labels: BackEnd, FrontEnd

#356 Fix dm scroll bug
  frontend/pages/direct_messages/_id.vue
Labels: FrontEnd

#359 Add group message scroll
  frontend/nuxt.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/groups/_id/index.vue
  frontend/plugins/vue-scrollto.js
Labels: FrontEnd

#361 Add response group page
  frontend/assets/scss/group.scss
  frontend/pages/groups/index.vue
Labels: FrontEnd

#274 Blog create api
  backend/app/controllers/api/blogs_controller.rb
  backend/app/models/blog.rb
  backend/config/locales/ja.yml
  backend/db/migrate/20191209040521_change_blogs_column_not_null.rb
  backend/db/schema.rb
  backend/spec/requests/blog_api_spec.rb
  docs/blueprints/api_blueprint.md
  frontend/nuxt.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/user_blogs/_id.vue
Labels: BackEnd

#362 auth ->authentication
  .gitignore
  backend/app/channels/application_cable/connection.rb
  frontend/components/organisms/LoggedinIcons.vue
  frontend/components/organisms/TheRightSideOrTheHeader.vue
  frontend/layouts/TheHeader.vue
  frontend/package-lock.json
  frontend/pages/auth/login.vue
  frontend/pages/auth/setting.vue
  frontend/pages/direct_messages/_id.vue
  frontend/pages/direct_messages/index.vue
  frontend/pages/group_messages/index.vue
  frontend/pages/redirect.vue
  frontend/pages/register.vue
  frontend/pages/sign_up.vue
  frontend/plugins/axios.js
  frontend/store/authentication.js
Labels: FrontEnd
